
body {
  position: relative;
}

.container {
  position: absolute;
  background-color: grey;
  margin: 30px;
  align-content: center;
}

div.col-md-12{

}

.table {
  height: 500px;
  width: 100%;
  background-color: green;
  border-radius: 10%;
  border: 5px solid black;
  position: relative;
}

.tableRow {
background-color: pink;
height: 29%;
width: 86%;
border: 3px solid black;
margin-left: 7%;
margin-top: 1%;
}

.cardSpace {
border: 3px solid black;
height: 29%;
width: 15%;

}

.tableButtons {
  position: absolute;
  bottom: 5px;
  width: 84%;
  margin-left: 7%;

}
 img{
   width: 100%;
   height: auto;
 }
